extends layout

block content
  if settings.extensions.length == 0
    p No extensions
  else
    each item in settings.extensions
      hr
      .extension
        img(
          src= '/extensions/' + item.name + '/icon',
          onclick=client_version?"document.location.href='"+installbase+item.id+"'":''
          width=50
          ).icon

        h3.title #{item.name}
        div version: #{item.version}
        div author: #{item.author || 'unknown'}
        p #{item.description}
        h3
          a(href='kitt://' + host + '/extension/' + item.name + '/download') Install
          | &nbsp;
          a(href='/extensions/' + item.name + '/download') Download

